name: heimdall
on:
  push:
    branches:
      - "master"
      - "dev/*"
      - "feature/*"
      - "release/*"
      - "fix/*"
      - "refactor/*"
    paths:
      - "iwfpapp/**"
      - ".github/workflows/heimdall.yml"
  pull_request:
    branches:
      - "master"
  schedule:
    - cron: 0 2 * * *
jobs:
  test:
    name: run heimdall on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macOS-latest]
    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-java@v1
        with:
          java-version: '12.x'
      - uses: subosito/flutter-action@v1
        with:
          flutter-version: '1.12.13+hotfix.5'
          channel: 'stable'
      - name: upgrade flutter
        run: |
          flutter channel master
          flutter upgrade
          flutter --version
      - name: install flutter dependencies
        run: |
          cd ./photochatapp
          flutter pub get
      - name: lint flutter code
        run: |
          cd ./photochatapp
          flutter analyze
      - name: run unit tests
        run: |
          cd ./photochatapp
          flutter test