on:
  release:
    types:
      - published
jobs:
  promote-to-production:
    name: promote to production
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-ruby@v1
        with:
          ruby-version: '2.x'
      - name: install gem packages
        run: |
          cd photochatapp/android
          gem install bundler:1.17.3
          bundle install
          bundle exec fastlane install_plugins
          bundle exec fastlane update_plugins
      - name: promote to production
        env:
          ANDROID_SIGN_PWD: ${{ secrets.ANDROID_SIGN_PWD }}
          SECRET_REPO: ${{ secrets.SECRET_REPO }}
          GITHUB_TOKEN: ${{ secrets.MY_GITHUB_TOKEN }}
          TRIGGER_EVENT: ${{ github.event_name }}
        run: |
          echo "triggering event type: $TRIGGER_EVENT"
          cd ./photochatapp/android
          bundle exec fastlane production
          
