name: thor
on:
  push:
    paths: 
      - .github/workflows/thor.yml
    branches: 
      - "master"
      - "actions/android-integration-test__*"
      - "actions/ios-integration-test__*"
      - "integration/android__*"
  pull_request:
    branches:
      - "master"
  schedule:
    - cron: 0 2 * * *
jobs:
  android-integration-test:
    name: run integration test on Android emulator
    runs-on: macos-latest
    strategy:
      matrix:
        device:
          - "pixel_xl"
      fail-fast: false
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v1
        with:
          java-version: '8.x'
      - uses: subosito/flutter-action@v1
        with:
          flutter-version: '1.20.1'
          channel: 'stable'
      - name: upgrade flutter to dev latest
        run: |
          flutter channel master
          flutter upgrade
          flutter --version
      - name: run tests
        timeout-minutes: 30
        uses: reactivecircus/android-emulator-runner@v2.6.0
        env:
          ANDROID_SIGN_PWD: ${{ secrets.ANDROID_SIGN_PWD }}
          SECRET_REPO: ${{ secrets.SECRET_REPO }}
          GITHUB_TOKEN: ${{ secrets.MY_GITHUB_TOKEN }}
        with:
          api-level: 28
          profile: ${{ matrix.device }}
          script: /Users/runner/Library/Android/sdk/tools/bin/avdmanager list && sleep 20 && ./scripts/setenv.sh && cd ./photochatapp && flutter doctor -v && flutter pub get && flutter drive --target=test_driver/app.dart
      - name: upload screenshot
        uses: actions/upload-artifact@master
        with:
          name: online_screenshot_${{ matrix.device }}
          path: /tmp/iwfpapp_screenshot
  ios-integration-test:
    name: run integration test on iOS emulator
    runs-on: macos-latest
    if: false
    strategy:
      matrix:
        device:
          - "iPad Pro (12.9-inch) (4th generation) (13.7)"
          - "iPhone 11 Pro Max (13.7)"
      fail-fast: false
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v1
        with:
          java-version: '12.x'
      - uses: subosito/flutter-action@v1
        with:
          flutter-version: '1.20.1'
          channel: 'stable'
      - name: upgrade flutter
        run: |
          flutter channel master
          flutter upgrade
      - name: list all simulators
        run: xcrun instruments -s
      - name: start simulator
        run: |
          UDID=$(
            xcrun instruments -s |
            awk \
              -F ' *[][]' \
              -v 'device=${{ matrix.device }}' \
              '$1 == device { print $2 }'
          )
          xcrun simctl boot "${UDID:?No Simulator with this name found}"
      - name: run integration tests
        timeout-minutes: 30
        env:
          ANDROID_SIGN_PWD: ${{ secrets.ANDROID_SIGN_PWD }}
          SECRET_REPO: ${{ secrets.SECRET_REPO }}
          GITHUB_TOKEN: ${{ secrets.MY_GITHUB_TOKEN }}
        run: |
          ./scripts/setenv.sh
          cd ./photochatapp
          flutter doctor -v
          flutter pub get
          xcrun simctl io booted recordVideo recording.mov &
          sleep 5
          export RECORDING_PID=${!}
          echo "Recording process up with pid: ${RECORDING_PID}"
          flutter drive --target=test_driver/app.dart
          sleep 5
          kill -SIGINT $RECORDING_PID
          sleep 10
          cp recording.mov /tmp/iwfpapp_screenshot
      - name: upload screenshot
        uses: actions/upload-artifact@master
        with:
          name: online_screenshot_${{ matrix.device }}
          path: /tmp/iwfpapp_screenshot
