name: thor
on:
  pull_request:
    branches:
      - "master"
  schedule:
    - cron: 0 2 * * *
jobs:
  android-integration-test:
    name: run integration test on Android emulator
    runs-on: macOS-latest
    strategy:
      matrix:
        device:
          - "pixel"
          - "pixel_xl"
      fail-fast: false
    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-java@v1
        with:
          java-version: '8.x'
      - uses: subosito/flutter-action@v1
        with:
          flutter-version: '1.12.13+hotfix.8'
          channel: 'stable'
      - name: upgrade flutter
        run: |
          flutter channel stable
          flutter upgrade
          flutter --version
      - name: run tests
        timeout-minutes: 30
        uses: reactivecircus/android-emulator-runner@v2
        env:
          ANDROID_SIGN_PWD: ${{ secrets.ANDROID_SIGN_PWD }}
          SECRET_REPO: ${{ secrets.SECRET_REPO }}
          GITHUB_TOKEN: ${{ secrets.MY_GITHUB_TOKEN }}
        with:
          api-level: 29
          profile: ${{ matrix.device }}
          script: /Users/runner/Library/Android/sdk/tools/bin/avdmanager list && sleep 10 && ./scripts/setenv.sh && cd ./photochatapp && flutter pub get && flutter drive --target=test_driver/app.dart
      - name: upload screenshot
        uses: actions/upload-artifact@master
        with:
          name: online_screenshot_${{ matrix.device }}
          path: /tmp/iwfpapp_screenshot
  ios-integration-test:
    name: run integration test on iOS emulator
    runs-on: macOS-latest
    strategy:
      matrix:
        device:
          - "iPad Pro (12.9-inch) (3rd generation) (13.3)"
          - "iPhone 11 Pro Max (13.3)"
          - "iPhone 11 (13.3)"
          - "iPad Pro (9.7-inch) (13.3)"
      fail-fast: false
    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-java@v1
        with:
          java-version: '12.x'
      - uses: subosito/flutter-action@v1
        with:
          flutter-version: '1.12.13+hotfix.5'
          channel: 'stable'
      - name: upgrade flutter
        run: |
          flutter channel master
          flutter upgrade
          flutter --version
      - name: list all simulators
        run: xcrun instruments -s
      - name: start simulator
        run: |
          UDID=$(
            xcrun instruments -s |
            awk \
              -F ' *[][]' \
              -v 'device=${{ matrix.device }}' \
              '$1 == device { print $2 }'
          )
          xcrun simctl boot "${UDID:?No Simulator with this name found}"
      - name: run integration tests
        timeout-minutes: 30
        env:
          ANDROID_SIGN_PWD: ${{ secrets.ANDROID_SIGN_PWD }}
          SECRET_REPO: ${{ secrets.SECRET_REPO }}
          GITHUB_TOKEN: ${{ secrets.MY_GITHUB_TOKEN }}
        run: |
          ./scripts/setenv.sh
          cd ./photochatapp
          flutter pub get
          flutter drive --target=test_driver/app.dart
      - name: upload screenshot
        uses: actions/upload-artifact@master
        with:
          name: online_screenshot_${{ matrix.device }}
          path: /tmp/iwfpapp_screenshot
